name: CI
on:
  pull_request:
    branches:
      - main

jobs:
  get-targets:
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.set-targets.outputs.targets }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get image directories
        id: set-targets
        run: |
          TARGETS=$(ls -d images/*/ | cut -d'/' -f2 | jq -R -s -c 'split("\n") | map(select(length > 0))')
          echo "targets=$TARGETS" >> $GITHUB_OUTPUT
          echo "Found targets: $TARGETS"

  build-and-scan:
    needs: get-targets
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ${{ fromJson(needs.get-targets.outputs.targets) }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Check if target directory has changes
        id: check-changes
        run: |
          if git diff --name-only ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | grep -q "^images/${{ matrix.target }}/"; then
            echo "has_changes=true" >> $GITHUB_OUTPUT
          else
            echo "has_changes=false" >> $GITHUB_OUTPUT
          fi
          
      - name: Set up QEMU
        if: steps.check-changes.outputs.has_changes == 'true'
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        if: steps.check-changes.outputs.has_changes == 'true'
        uses: docker/setup-buildx-action@v3.10.0

      - name: Build for test multi-platform
        if: steps.check-changes.outputs.has_changes == 'true'
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./images/${{ matrix.target }}
          file: ./images/${{ matrix.target }}/Dockerfile
          push: false
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/ksmartdata/${{ matrix.target }}:ci
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build for scan vulnerabilities
        if: steps.check-changes.outputs.has_changes == 'true'
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./images/${{ matrix.target }}
          file: ./images/${{ matrix.target }}/Dockerfile
          push: false
          load: true
          platforms: linux/amd64
          tags: ghcr.io/ksmartdata/${{ matrix.target }}:ci
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Scan image vulnerabilities
        if: steps.check-changes.outputs.has_changes == 'true'
        uses: aquasecurity/trivy-action@0.32.0
        with:
          image-ref: ghcr.io/ksmartdata/${{ matrix.target }}:ci
          format: 'table'
          severity: 'CRITICAL'
          ignore-unfixed: true
          exit-code: '1'
          trivy-config: .trivy.yaml